.BurgerConstructor {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.BurgerScroll {
  max-height: 465px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.BurgerScroll::-webkit-scrollbar {
  width: 10px;
}

.BurgerScroll::-webkit-scrollbar-track {
  background: #2F2F37;
}

.BurgerScroll::-webkit-scrollbar-thumb {
  background: #8585AD;
}

.BurgerScroll::-webkit-scrollbar-thumb:hover {
  background: rgba(133, 133, 173, .7);
}
